<section id="in_progress">
    <div class="container">
        <article class="message is-info">
            <div class="message-header">
                <p>Work in Progress</p>
                <button class="delete" aria-label="delete" id="wip_dismisser"></button>
            </div>
            <div class="message-body">
                Kubernetes 101 is a <strong>work in progress</strong>, so please bear with us! I'd love to hear any and all feedback at <a href="mailto:sam@ponderosa.io">sam@ponderosa.io</a>. If you want to be updated when we add stuff, sign up <a href="/email">here</a>
            </div>
        </article>
    </div>
</section>